.modal {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 200;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  position: relative;
}

.modal__close-btn {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 70px;
  right: 70px;
  z-index: 100;
  cursor: pointer;
  opacity: 0.6;
  vertical-align: middle;
  border: none;

  &:focus,
  &:hover {
    opacity: 1;
  }
}
